<h1>New</h1>

<ul>
  <% @letters.each do |letter| %>
    <li><%= letter %></li>
  <% end %>
</ul>

<form action="/score" method="post">
  <input type="text" name="guess" placeholder="Enter a Word">
  <input type="submit">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
